.container {
  display: flex;
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.booking-form p {
  margin: 10px 0;
}

.booking-form input {
  display: block;
  margin: 10px 0;
}
