.login {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form input {
  display: block;
  margin: 10px auto;
}

.login-form button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
}

.login .warning {
  padding: 10px;
  font-size: 10px;
  background-color: palevioletred;
  border-radius: 5%;
}
